<a href="https://colab.research.google.com/github/carlos-alves-one/Numpy-Learning/blob/main/Numpy_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Goldsmiths University of London
**Author....: Carlos Manuel de Oliveira Alves**<br>
**Student..: cdeol003**<br>
**Created..: 23/08/2022**

In [1]:
# import numpy library for linear algebra
import numpy as np

In [3]:
# create an array with function zeros
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [4]:
# create an array with function ones
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [5]:
# create an array with function full
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [8]:
# create an array with a list with numbers
a = np.array([1,2,3,5,7,12])
a

array([ 1,  2,  3,  5,  7, 12])

In [9]:
# access a specific element in the array
a[2]

3

In [11]:
# replace the value of a specific element in the array
a[2] = 10
a

array([ 1,  2, 10,  5,  7, 12])

In [12]:
# create an array using the function range
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
# create an array using the function range but start at a specific number
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [14]:
# create an array using the function linspace
# create an array with 11 elements and with numbers between 0 and 1
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [15]:
# create a multi-dimensional array
# an array with 5 rows and 2 columns
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [18]:
# create a multi-dimensional array with a list of numbers
n = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
# access to an element in a multi-dimensional array
n[0, 1]

2

In [21]:
# replace the value of a specific element in a multi-dimensional array
n[ 0, 1] = 20
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [22]:
# access the row of a multi-dimensional array
n[0]

array([ 1, 20,  3])

In [23]:
# rewrite the entire row of a multi-dimensional array
n[2] = [1,1,1]
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [24]:
# access a specific column in a multi-dimensionl array
n[:, 1] # to access the second column

array([20,  5,  1])

In [25]:
# return all the rows of the multi-dimensionl array
n[:]

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [27]:
# assign new values to a specific columns in multi-dimensionl array
n[:, 2] = [0, 1, 2]
n

array([[ 1, 20,  0],
       [ 4,  5,  1],
       [ 1,  1,  2]])