<a href="https://colab.research.google.com/github/carlos-alves-one/Numpy-Learning/blob/main/Numpy_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Goldsmiths University of London
**Author....: Carlos Manuel de Oliveira Alves**<br>
**Student..: cdeol003**<br>
**Created..: 23/08/2022**

In [1]:
# import numpy library for linear algebra
import numpy as np

In [2]:
# create an array with function zeros
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
# create an array with function ones
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [4]:
# create an array with function full
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [5]:
# create an array with a list with numbers
a = np.array([1,2,3,5,7,12])
a

array([ 1,  2,  3,  5,  7, 12])

In [6]:
# access a specific element in the array
a[2]

3

In [7]:
# replace the value of a specific element in the array
a[2] = 10
a

array([ 1,  2, 10,  5,  7, 12])

In [8]:
# create an array using the function range
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
# create an array using the function range but start at a specific number
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [10]:
# create an array using the function linspace
# create an array with 11 elements and with numbers between 0 and 1
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [11]:
# create a multi-dimensional array
# an array with 5 rows and 2 columns
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [12]:
# create a multi-dimensional array with a list of numbers
n = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [13]:
# access to an element in a multi-dimensional array
n[0, 1]

2

In [14]:
# replace the value of a specific element in a multi-dimensional array
n[ 0, 1] = 20
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [15]:
# access the row of a multi-dimensional array
n[0]

array([ 1, 20,  3])

In [16]:
# rewrite the entire row of a multi-dimensional array
n[2] = [1,1,1]
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [17]:
# access a specific column in a multi-dimensionl array
n[:, 1] # to access the second column

array([20,  5,  1])

In [18]:
# return all the rows of the multi-dimensionl array
n[:]

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [19]:
# assign new values to a specific columns in multi-dimensionl array
n[:, 2] = [0, 1, 2]
n

array([[ 1, 20,  0],
       [ 4,  5,  1],
       [ 1,  1,  2]])

In [20]:
# generate randomly two dimensional array
# the numbers are random between zero and one
# using the seed function to generate the same random numbers
np.random.seed(2)
np.random.rand(5, 2) # 5 rows and 2 columns

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [21]:
# use the standard normal distribution
np.random.seed(2)
np.random.randn(5, 2)

array([[-0.41675785, -0.05626683],
       [-2.1361961 ,  1.64027081],
       [-1.79343559, -0.84174737],
       [ 0.50288142, -1.24528809],
       [-1.05795222, -0.90900761]])

In [22]:
# generate random numbers between 0 and 100
np.random.seed(2)
100 * np.random.rand(5, 2)

array([[43.59949021,  2.59262318],
       [54.96624779, 43.53223926],
       [42.03678021, 33.0334821 ],
       [20.4648634 , 61.92709664],
       [29.96546737, 26.68272751]])

In [23]:
# generate random integers between 0 and 99
np.random.seed(2)
np.random.randint(low=0, high=100, size=(5,2))

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

**Element-Wise Operations**

In [24]:
# create an array using the arange function
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [25]:
# using element-wise operations addition with array
a + 1

array([1, 2, 3, 4, 5])