<a href="https://colab.research.google.com/github/carlos-alves-one/Numpy-Learning/blob/main/Numpy_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Goldsmiths University of London
**Author....: Carlos Manuel de Oliveira Alves**<br>
**Student..: cdeol003**<br>
**Created..: 23/08/2022**

In [2]:
# import numpy library for linear algebra
import numpy as np

In [3]:
# create an array with function zeros
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [4]:
# create an array with function ones
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [5]:
# create an array with function full
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [6]:
# create an array with a list with numbers
a = np.array([1,2,3,5,7,12])
a

array([ 1,  2,  3,  5,  7, 12])

In [7]:
# access a specific element in the array
a[2]

3

In [8]:
# replace the value of a specific element in the array
a[2] = 10
a

array([ 1,  2, 10,  5,  7, 12])

In [9]:
# create an array using the function range
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
# create an array using the function range but start at a specific number
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [11]:
# create an array using the function linspace
# create an array with 11 elements and with numbers between 0 and 1
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [12]:
# create a multi-dimensional array
# an array with 5 rows and 2 columns
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [13]:
# create a multi-dimensional array with a list of numbers
n = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
# access to an element in a multi-dimensional array
n[0, 1]

2

In [15]:
# replace the value of a specific element in a multi-dimensional array
n[ 0, 1] = 20
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [16]:
# access the row of a multi-dimensional array
n[0]

array([ 1, 20,  3])

In [17]:
# rewrite the entire row of a multi-dimensional array
n[2] = [1,1,1]
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [18]:
# access a specific column in a multi-dimensional array
n[:, 1] # to access the second column

array([20,  5,  1])

In [19]:
# return all the rows of the multi-dimensionl array
n[:]

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [20]:
# assign new values to a specific columns in multi-dimensionl array
n[:, 2] = [0, 1, 2]
n

array([[ 1, 20,  0],
       [ 4,  5,  1],
       [ 1,  1,  2]])

In [21]:
# generate randomly two dimensional array
# the numbers are random between zero and one
# using the seed function to generate the same random numbers
np.random.seed(2)
np.random.rand(5, 2) # 5 rows and 2 columns

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [22]:
# use the standard normal distribution
np.random.seed(2)
np.random.randn(5, 2)

array([[-0.41675785, -0.05626683],
       [-2.1361961 ,  1.64027081],
       [-1.79343559, -0.84174737],
       [ 0.50288142, -1.24528809],
       [-1.05795222, -0.90900761]])

In [23]:
# generate random numbers between 0 and 100
np.random.seed(2)
100 * np.random.rand(5, 2)

array([[43.59949021,  2.59262318],
       [54.96624779, 43.53223926],
       [42.03678021, 33.0334821 ],
       [20.4648634 , 61.92709664],
       [29.96546737, 26.68272751]])

In [24]:
# generate random integers between 0 and 99
np.random.seed(2)
np.random.randint(low=0, high=100, size=(5,2))

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

**Element-Wise Operations**

In [25]:
# create an array using the arange function
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [26]:
# use element-wise operations addition with array
a + 1

array([1, 2, 3, 4, 5])

In [27]:
# use element-wise operations multiplication with array
a * 2

array([0, 2, 4, 6, 8])

In [28]:
# more complex element-wise operations
b = (10 + (a *2)) ** 2 / 100
b

array([1.  , 1.44, 1.96, 2.56, 3.24])

In [29]:
# combine two arrays
a + b

array([1.  , 2.44, 3.96, 5.56, 7.24])

In [30]:
# combine two arrays more complex
a / b + 10

array([10.        , 10.69444444, 11.02040816, 11.171875  , 11.2345679 ])

**Comparison Operations**

In [31]:
 a

array([0, 1, 2, 3, 4])

In [32]:
a >= 2

array([False, False,  True,  True,  True])

In [33]:
a > b

array([False, False,  True,  True,  True])

In [34]:
# create an array with elements for which the condition is true
a[a > b]

array([2, 3, 4])

**Summarizing Operations**

In [35]:
a

array([0, 1, 2, 3, 4])

In [36]:
# use the function min that return the smallest number in the array
a.min()

0

In [37]:
# use the function max that return the maximal number in the array
a.max()

4

In [38]:
# use the function sum that computes the sum of all elements in the array
a.sum()

10

In [39]:
# use the function mean that conmputes the average number in tbe array
a.mean()

2.0

In [40]:
# use the standard deviation function
a.std()

1.4142135623730951

In [41]:
n

array([[ 1, 20,  0],
       [ 4,  5,  1],
       [ 1,  1,  2]])

In [42]:
n.sum()

35

In [43]:
n.min()

0

In [44]:
n.max()

20

**Vector Operations**

In [45]:
# create a row vector u
u = np.array([2, 4, 5, 6])
u

array([2, 4, 5, 6])

In [46]:
# multiply a numpy array by two
2 * u

array([ 4,  8, 10, 12])

In [47]:
# create a row vector v
v = np.array([1, 0, 0, 2])
v

array([1, 0, 0, 2])

In [48]:
# add two row vectors
u + v

array([3, 4, 5, 8])

**Multiplication**

**Vector-vector Multiplication (Dot Product or Inner Product)**

In [49]:
# steps of the multiplication:
# 1. multiply each element of the vector
# 2. sum all the multiplication results
# we can multiply two vectors if they have the same shape
# if we have a row and column vector we need to use the transpose operation
# for one of the vector e.g. if we have a column vector end the other one
# is a row vector we use the transpose operation for this vector
# to convert from row vector to a column vector

In [50]:
# create multi-dimensional array U
U = np.array([
    [2, 4, 5, 6],
    [1, 2, 1, 2],
    [3, 1, 2, 1],
])

U

array([[2, 4, 5, 6],
       [1, 2, 1, 2],
       [3, 1, 2, 1]])

In [51]:
# create multi-dimensional array V
V = np.array([
    [1, 1, 2],
    [0, 0.5, 1], 
    [0, 2, 1],
    [2, 1, 0],
])

V

array([[1. , 1. , 2. ],
       [0. , 0.5, 1. ],
       [0. , 2. , 1. ],
       [2. , 1. , 0. ]])

In [52]:
# declare a function that does the multiplication of two vectors
def vector_vector_multiplication(u, v):
  
  # first we need to make sure the vectors as the same size
  # use the assert statement known as assertion used to check data
  assert u.shape[0] == v.shape[0]

  # declare variable that store the size of the vector
  n = u.shape[0]

  # declare variable that store the result of the dot product
  result = 0.0

  # declare a loop to visit all elements of the vectors
  for i in range(n):

    # update result with the multiplication of the 2 vectors
    result += u[i] * v[i]

  # declare return the result of the function dot product
  return result

In [53]:
# test the function dot product
vector_vector_multiplication(u, v)

14.0

In [54]:
# numpy has a function does the dot product
u.dot(v)

14

**Matrix-vector Multiplication**

In [55]:
# declare a function that does the multiplication of a matrix and a column vector
def matrix_vector_multiplication(U, v): # use capital U to represent a matrix

  # use the assert statement and because we have a matrix
  # we are only interested in the number of columns
  assert U.shape[1] == v.shape[0]

  # declare variable that stores the number of rows of the matrix
  num_rows = U.shape[0]

  # declare variable stores the result of the multiplication
  # use the function zeros to initialize it with zeros
  result = np.zeros(num_rows)

  # declare loop to go through each row of the matrix
  for i in range(num_rows):

    # update the result using the function vectors multiplication
    result[i] = vector_vector_multiplication(U[i], v)

  # declare return the result of the function matrix and vector multiplication
  return result

In [56]:
# test the function matrix vector multiplication
matrix_vector_multiplication(U, v)

array([14.,  5.,  5.])

In [57]:
# numpy has a function does the matrix vector multiplication
U.dot(v)

array([14,  5,  5])

**Matrix-matrix Multiplication**

In [58]:
V = np.array([
    [1, 1, 2],
    [0, 0.5, 1], 
    [0, 2, 1],
    [2, 1, 0],
])

In [59]:
# declare a function that does the multiplication of two matrices
def matrix_matrix_multiplication(U, V): # use capital U and V to represent a matrix

  # use the assert statement to make sure that the dimensions of the matrices match
  assert U.shape[1] == V.shape[0]

  # declare variables to store the size of the matrix for rows and columns
  num_rows = U.shape[0]
  num_cols = V.shape[1]

  # create a new matrix called result and initialize it with zeros
  result = np.zeros((num_rows, num_cols))

  # create loop to go through the columns of the matrix
  for i in range(num_cols):

    # declare variable to store the rows of the matrix
    vi = V[:, i]

    # store the result of the multiplication of matrix and vector
    Uvi = matrix_vector_multiplication(U, vi)

    # update column of the matrix result
    result[:, i] = Uvi

  # declare return the result of the function multiplication of two matrices
  return result

In [60]:
# test the function matrices multiplication
matrix_matrix_multiplication(U, V)

array([[14. , 20. , 13. ],
       [ 5. ,  6. ,  5. ],
       [ 5. ,  8.5,  9. ]])

In [61]:
# numpy has a function does the matrices multiplication
U.dot(V)

array([[14. , 20. , 13. ],
       [ 5. ,  6. ,  5. ],
       [ 5. ,  8.5,  9. ]])

**Identity matrix**

In [65]:
# create identity matrix using the function eye
I = np.eye(3)

In [66]:
V

array([[1. , 1. , 2. ],
       [0. , 0.5, 1. ],
       [0. , 2. , 1. ],
       [2. , 1. , 0. ]])

In [67]:
# use the dot product we get the matrix back
V.dot(I)

array([[1. , 1. , 2. ],
       [0. , 0.5, 1. ],
       [0. , 2. , 1. ],
       [2. , 1. , 0. ]])